body{
    background-color: black;
    margin-left:0px;
    margin-top: 0px;
}    
#crescent{
    background-color:black;
    border-radius:50%;
    position: absolute;
    top:10px;
    left:780px;
    width:5%;
    padding-left:70px;
    padding-top:40px;
    box-shadow: 8px 5px white;
    animation-name: moon-anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;   
}
#crescent p{
    visibility: hidden;
}
#moon p{
    visibility: hidden;
}
.star{
    color:blue;
    padding-left:30px;
    animation-name: twinkle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#s1{
    margin-top:30px;
}
#s2{
    margin-left:60px;
    margin-top:-20px;
}
#s3{
    margin-left: 90px;
    margin-top:10px;
}
#s4{
    margin-left: 150px;
    margin-top:-10px;
}
#s5{
    margin-left: 180px;
    margin-top:-40px;
}
#s6{
    margin-left: 200px;
    margin-top:-15px;
}
#s7{
margin-left:300px;
margin-top:-30px;
}
#s8{
    margin-left:350px;
}
#s9{
    margin-left:380px;
    margin-top:-60px;
}
#s10{
    margin-left: 410px;
}
#s11{
    margin-left:450px;
}
#s12{
    margin-left:480px;
    margin-top:-30px;
}
#s13{
    margin-left:520px;
    margin-top:-40px;
}
#s14{
    margin-left:240px;
}
#ball{
    background-color: lightblue;
    border-radius:50%;
    width:5%;
    padding-left:60px;
    padding-top:30px;
    margin-top:400px;
    margin-left:40px;
    border: 2px white solid;
    animation-name: moving-ball;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
 #ball p{
     visibility: hidden;
 }
 
@keyframes twinkle{
    0%{
        color:blue;
    }
    50%{
        color:yellow;
    }
    100%{
        color:blue;
    }
}
@keyframes moving-ball{
    0%{
    
        margin-left:40px;
    }
    50%{
        margin-left:150px;
    }
    100%{
        margin-left:500px;

    }
    150%{
        margin-left:750px;

    }
    200%{
        margin-left:800px;

    }
}
